*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
body{
    --main-color: #283526;
    --primary-color: #888888;
    --button-background: #4b709e; 
    --primary-button-background: #fe7649;
    --background-color: #e2efff;
}
h1, h2, h3, h4{
    color: var(--main-color);
}
h3{
    font-weight: 750;
    font-size: 2.2rem;
    line-height: 6rem;
    text-transform: capitalize;
}
p, a, li, button{
    font-weight: 300;
    color: var(--primary-color);
}
p{
    font-size: 1.8rem;
    font-weight: normal;
    font-style: normal;
    line-height: 150%;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style: none;
}
button{
    padding: 1rem 2rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    line-height: 3.6rem;
    text-transform: capitalize;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
}
/* -------------------------------- HEADER MENU STYLE -------------------------------- */
header{
    padding: 0 10rem;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12rem;
    width: 100%;
}
header nav .left-side-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
header nav .left-side-menu .logo a img{
    width: 13rem;
    height: 5.5rem;
}
header .left-side-menu .sub-menu{
    display: flex;
    height: inherit;
}
header .left-side-menu .sub-menu a{
    margin-right: 3rem;
}
header .left-side-menu .sub-menu a li{
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: 3.6rem;
    transition: all .2s;
}
header .left-side-menu .sub-menu a li:hover{
    color: var(--button-background);
}
/* right side menu style  */
header .right-side-menu{
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .right-side-menu .sub-menu{
    display: flex;
    align-items: center;
}
header .right-side-menu .sub-menu a{
    margin-right: 6rem;
    font-size: 2rem;
    padding: .5rem 1.5rem;
    background-color: #ffffff54;
    border-radius: 1rem;
    transition: all .3s;
    z-index: 1;
}
header .right-side-menu .sub-menu button{
    padding: .3rem 2rem;
    background-color: #1a518f;
    color: white;
    z-index: 1;
    
}
header .right-side-menu .sub-menu button:hover{
    background-color: #143a66;
}
header .right-side-menu .sub-menu a li:hover{
    color: var(--button-background);
}

/*----------------- Hero section style start here ------------------------------- */
section.hero{
    padding: 0 10rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10rem 0;
}
section.hero .hero-left-side{

}
section.hero .hero-left-side h1{
    font-size: 7rem;
    width: 55rem;
    line-height: 9rem;
    margin-bottom: 3rem;
}
section.hero .hero-left-side p{
    margin-bottom: 4rem;
    width: 45rem;
}
section.hero .button-group a img{
    width: 11.5rem;
    margin-right: 2rem;
}
/* hero right side start here  */
section.hero .hero-right-side{
    width: 50%;
    height: 100vh;
    background: var(--background-color);
    position: absolute;
    border-radius: 9rem 0 9rem 9rem;
    top: 0;
    right: 0;
}
section.hero .hero-right-side img{
    width: 86%;
    position: absolute;
    left: -19%;
    top: 16%;
}
/*2nd section start here  */
section.daily{
    height: 70rem;
    width: 100%;
    padding: 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
}
section.daily .daily-left-side{
    width: inherit;
    height: inherit;
}
section.daily .daily-left-side figure{
    background-color: var(--background-color);
    width: 20rem;
    border-radius: 2rem 0 0 2rem;
    height: 65rem;
}
section.daily .daily-left-side figure img{
    width: 45rem;
    height: 60rem;
    margin-left: 10rem;
    margin-top: 2.5rem;
}
section.daily .daily-right-side{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.daily .daily-right-side h2{
    font-size: 6rem;
    width: 44rem;
    margin-bottom: 2rem;
}
section.daily .daily-right-side p{
    width: 44rem;
    font-size: 1.7rem;
    margin-bottom: 4rem;
}
section.daily .daily-right-side div button:first-child{
    background-color: var(--primary-button-background);
    color: #ffffff;
    margin-right: 2rem;
}
section.daily .daily-right-side div button:first-child:hover{
    background-color: #863419;
}
section.daily .daily-right-side div button:last-child:hover{
    background-color: var(--primary-button-background);
    color: #ffffff;
}
/*3nd section start here  */
section.tools{
    height: 70rem;
    width: 100%;
    padding: 5rem 10rem;
    background-color: var(--background-color);
}
section.tools h2{
    text-align: center;
    font-size: 5rem;
    margin-bottom: 2rem;
}
section.tools > p{
    text-align: center;
    width: 50rem;
    margin: 0 auto;
    font-size: 1.8rem;
}
section.tools .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-column-gap: 3rem;
    margin-top: 5rem;
}
section.tools .wrapper > div{
    padding: 2rem;
    border-radius: 2rem;

}
section.tools .wrapper > div img{
    height: 15rem;
    transition: all .2s linear;
    width: 15rem;
}
section.tools .wrapper > div img:hover{
    transform: rotate(360deg);
}
section.tools .wrapper > div.second img{
    width: 13rem;
}
section.tools .wrapper > div h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
section.tools .wrapper > div p{
    margin-bottom: 2rem;
}
section.tools .wrapper > .third{
    background-color: #fff;
    box-shadow: 0 0 9px 0px grey;
}
section.tools .wrapper > div:hover{
    background-color: #fff;
    box-shadow: 0 0 9px 0px grey;
}
/*4th section start here  */
section.journey{
    margin-top: 5rem;
}
section.journey .daily-left-side figure{
    background-color: var(--background-color);
    width: 65rem;
    border-radius: 2rem;
    height: 65rem;
}
.social{
    position: fixed;
    top: 50%;
    margin-left: -14rem;
    transform: translateY(-50%);
}
.social > div:hover{
    margin-left: 14rem;
}
.social > div img{
    animation: glow-image .5s linear alternate-reverse infinite;
}
@keyframes glow-image {
    from{
        transform: scale(.8);
    }
    to{
        transform: scale(1);
    }
}
.social > div{
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    width: 17.8rem;
    align-items: center;
    color: white;
    height: 3rem;
    padding: 1rem;
    padding-left: 2rem;
    transition: all .3s linear;
}
.social div > img{
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
}
.social div.first{
    background-color: blue;
    
}
.social div.second{
    background-color: blue;
}
.social div.third{
    background-color: orangered;
}
.social div.fourth{
    background-color: red;
}